.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin{style:"background-color:grey;"}
  = grid xs:10, sm:8, md:6, lg:4 do
    .big-padding.light-blue.text-left.white-text
      %h1.no-margin.bold.light-green-text Red Social
      %p.no-margin.bold Conecta y conoce a la comunidad
      .top-space.no-margin
        = render 'devise/registrations/new'
