.row.center-xs
  = grid xs: 10, md: 8 do
    .white.large-padding
      .border-bottom.text-left
        %p Amistades pendientes
        = render @pending_friendships
        .top-space
          %p Amistades aceptadas
          = render @accepted_friendships
